.reset-button {
    border: none;
    border-radius: 0.5rem;
    background-color: var(--reset-bg-color);
    font-family: 'Fredoka', sans-serif;
    font-size: 2rem;
    color: var(--txt-color);
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    display: block;
    cursor: pointer;
}