.box {
    border: none;
    background-color: #fff;
    border-radius: 10%;
    box-shadow: 0 0 8px #888;
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-size: 5em;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
    line-height: 5rem;
    margin: 0.5rem;
    /* transition: all 0.2s ease-in-out; */
}

.x {
    color: rgba(255, 0, 0, 0.75);
}

.o {
    color: rgba(0, 0, 255, 0.75);
}

.box:hover {
    box-shadow: 0 0 12px #999;

}