.score-board {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 20rem;
    font-size: 1.5rem;
    background-color: var(--bg-color);
    margin: 3rem auto;
    box-shadow: 0 0 8px var(--shadow-color);
    border-radius: 0.5rem;
    font-weight: bold;
}

.score {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.x-score {
    color: var(--x-color);
    border-bottom: 5px solid var(--x-color);
    border-bottom-left-radius: 0.5rem;
}

.o-score {
    color: var(--o-color);
    border-bottom: 5px solid var(--o-color);
    border-bottom-right-radius: 0.5rem;
}

.inactive {
    border-bottom: 5px solid transparent;
}