.score-board {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 20rem;
    font-size: 1.5rem;
    background-color: white;
    margin: 3rem auto;
    box-shadow: 0 0 8px #888;
    border-radius: 0.5rem;
    font-weight: bold;
}

.score {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.x-score {
    color: rgba(255, 0, 0, 0.75);
    border-bottom: 5px solid rgba(255, 0, 0, 0.75);
    border-bottom-left-radius: 0.5rem;
}

.o-score {
    color: rgba(0, 0, 255, 0.75);
    border-bottom: 5px solid rgba(0, 0, 255, 0.75);
    border-bottom-right-radius: 0.5rem;
}

.inactive {
    border-bottom: 5px solid transparent;
}