* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Fredoka', sans-serif;
}

:root {
  --x-color: #ff0000bf;
  --o-color: #0000ffbf;
  --shadow-color: #888;
  --shadow-hover-color: #999;
  --bg-color: white;
}